---
Language: Cpp
BasedOnStyle: WebKit

AccessModifierOffset: 0
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
IncludeCategories:
  - Regex:           'config\.h'
    Priority:        -1
  - Regex:           '".*"'
    Priority:        1
  - Regex:           ".*"
    Priority:        2
IncludeIsMainRegex: ''
IncludeIsMainSourceRegex: ''
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
NamespaceIndentation:	All
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: Never
SpaceBeforeParensOptions:
  AfterIfMacros: false
TabWidth: 4
UseTab: ForContinuationAndIndentation
